@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  width: 223px;
  background-color: #fafafa;
  padding: 20px;
  border: 2px solid #e7e7e7;
  border-radius: 8px;
  box-shadow: 4px 14px 17px -6px #958f8f;
}
.text {
  border: 2px solid rgb(218 218 218);
  width: -webkit-fill-available;
}
.cal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.equal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0fc80f;
}
:hover.equal {
  background-color: #14f214;
  color: white;
}
.del {
  background-color: red;
}
:hover.del {
  background-color: rgb(239, 10, 10);
  color: white;
}
.btn {
  background-color: #ffffff;
  border: 2px solid rgb(218 218 218);
}
:hover.btn {
  color: white;
  background-color: black;
}
